# The Process of Analytics

Data analytics is the process of using data to gain insights into business decisions. This process is independent of software. In fact, we can learn this process with pencil and paper! In this chapter, you will learn how to reason through data analyses without using software. As you become more comfortable with this type of reasoning, you will apply it to writing SQL statements. Eventually, you will apply this reasoning process in Excel. Once you become adept at this process, you will find that you think before you act with data, and this will make you a powerful data analyst.

Before we dive into some examples, let's talk briefly about computer programming. Programming involves the exact same type of reasoning that you need for data analytics.

## What is Programming?

Computers are dumb. They can only do what they are instructed to do. Thus, we humans use programming languages to tell computers what to do. 

A computer program is simply a set of instructions for a computer. When you write a computer program, your code is translated into instructions that the computer can understand. Programs are written in a programming language. There are many programming languages out there and each is a different way of telling a computer what to do. Over the years, programmers have created different languages, each with its advantages and disadvantages, and as a result these languages tend to evolve for different use cases. For example, PHP and JavaScript are frequently used to create websites, while C++ is often used to create games. SQL was originally developed at IBM as a way to manipulate and retrieve data stored in a relational database.<sup>\[1\]</sup> It is now one of the most popular programming languages worldwide.

### Similarities between programming and cooking

A computer program is like a cooking recipe. A program is a set of steps that, when followed by a computer, performs an action that you desire. A recipe is a set of steps that, when followed, leads to a desired outcome (yummy food). Thus, programming and cooking recipes are similar in that they must be logically correct to achieve their objectives.

As an example, here's a recipe for making whipped cream, courtesy of [this website](https://www.foodnetwork.com/recipes/alton-brown/whipped-cream-recipe-1957526):

---

1. Obtain a metal mixing bowl, a metal whisk, 1 cup of heavy whipping cream, and 2 tablespoons of sugar.

2. Place a metal mixing bowl and metal whisk into the freezer for 10 minutes.

3. Remove bowl and whisk from freezer and place on kitchen countertop.

4. Add 2 tablespoons of sugar to the bowl.

5. Add 1 cup of heavy whipping cream to the bowl.

6. Whisk cream and sugar mixture until stiff peaks are visible.

---

If you begin with the correct ingredients (which are analogous to data!), and if you correctly follow the steps, you will have delicious whipped cream. If you can understand the above recipe, you can write a computer program.

## Programming and the Process of Analytics

When you are faced with a business problem and some data, you must think through the steps required to transform the data into insights. What steps must be taken? Will those steps work? Will those steps provide the analysis that you are looking for? Will those steps work for all possible data values? This is the sort of reasoning that you must perform when working with data.

### Thinking before you act: Excel vs. SQL

A computer program is just a way of writing down your steps. When you write a computer program, you must think before you act. This is not the case with Excel! In Excel, you can copy, paste, write formulas, autofill formulas, delete cells, undo your actions, and so on. You can do this through trial and error. Sometimes that is a good thing (the fancy term for it is "exploratory data analysis"). The problem is that, often, you will not be able to recall what you did! That means that you might not be able to reproduce your work (I have observed this with many students and faculty!). It also means that you cannot reason about whether your output in Excel is correct. 

By contrast, when you write a program in SQL, you can read it and reason about it. You can run it and reproduce the output. Importantly, if you write something incorrect, you will get an error. Thus, SQL will force a discipline on you. It will force you to learn how to think before you act with data.

## Examples to Illustrate the Process of Data Analytics

I will now present three examples of data analyses. Each will begin with a description of a setting, and a question that needs to be answered. I will then describe the available data. I will then show a data analysis that answers the question, and discuss how I performed that analysis. When applicable, I will present a more efficient way of performing that analysis.

### Example 1: Analyzing Cost of Living by State

Imagine that you are a senior in college and are searching for a job. You are open to living anywhere in the country, but decide to do some research on cost of living. You want to do this early in your search so that you can evaluate job offers. Say that you get competing job offers from companies in Florida and Texas. If you know the cost of living in those states, you can evaluate the attractiveness of the offers. If the salaries are similar, but one state has a higher cost of living, you might be worse off financially in the high-cost state.

You find a dataset that provides information on the cost of living by state.<sup>\[2\]</sup> It turns out that measuring the cost of living is not as simple as you thought. The dataset provides an overall number (in the column *Index*, but also provides data on food, housing, utility, transportation, and health costs.

Let's dive in and do some analyses that illustrate the process of data analytics.

In [1]:
from IPython.display import display, HTML
import pandas as pd

In [2]:
def DisplayDF(df, scrollbar=False):
    html_table = df.to_html(index=False)
    
    if scrollbar:
        scrollable_html = f"<div style='height: 250px; overflow: auto; width: fit-content;'>{html_table}</div>"    
        display(HTML(scrollable_html))
    else:
        display(HTML(html_table))

In [3]:
df = pd.read_excel('data/CostOfLivingByState 2025.xlsx', sheet_name='Sheet1')
df.drop(columns='Rank', inplace=True)
df['State'] = df['State'].str.strip()

#### Understanding the data

Before we can do any analysis, we need to understand the data. Let's begin by looking at data for two states, Texas and Florida.

In [4]:
DisplayDF(df[df['State'].isin(['Texas', 'Florida'])])

There is one row for each state. Each row contains a set of numbers, one for grocery costs, one for housing costs, etc. There's also an overall number in the column *Index*, which is a weighted average of the other numbers. 

Each number is normalized. That means that a state whose cost is average gets a value of 100. If a state has a number less than 100, its cost is lower than average. If a state has a number greater than 100, its cost is greater than average.

#### Which of two states has the higher food costs?

**QUESTION:** You decide to focus on two states initially, Texas and Florida. Using data from the table above, determine which state has the higher food costs.

**ANSWER:** Obviously, Florida has higher grocery costs. Its value is 105.1, while Texas's is 95.8.

**HOW DID I DETERMINE THAT?** I just looked at the two numbers and compared them. I did not really think about it.

#### Which state has the highest food costs?

You want to extend your analysis to all 50 states. Here is the data:

In [5]:
DisplayDF(df, scrollbar=True)

**QUESTION:** Which state has the highest grocery costs?

**ANSWER:** Hawaii has the highest grocery costs, with a value of 134.6. This makes sense as Hawaii is an island so much of its food must be imported by boat or by plane.

**HOW DID I DETERMINE THAT?** This was difficult. I had to scroll through all rows of the dataset and keep the highest number I had seen so far in my head.

**IS THERE A BETTER WAY?** Yes. If we *__sort__* the data, we can easily see which state has the highest grocery costs. Here are the top 5 rows from the sorted list.

In [6]:
DisplayDF(df.sort_values('Grocery', ascending=False).head())

**TAKEAWAY:** This is your first lesson! If you think about what you want to do with your data, there is usually a natural, and efficient, way to compute it.

In this case, we sorted the data by grocery costs and then looked at the top row.

#### Which state has the lowest food costs?

Armed with what we just learned, this is now an easy question to answer. We will simply sort the data. However, this time, we will sort a different way. We will sort so that the lowest value appears at the top.

Here are the 5 states with the *lowest* grocery costs:

In [7]:
DisplayDF(df.sort_values('Grocery').head())

From this, we learn that Arkansas has the lowest food costs.

#### Which state has the lowest overall cost of living? Which has the highest?

If you sort by the *Index* column, you will see that Oklahoma has the lowest overall cost of living, and Hawaii has the highest.

#### I only care about the "Lower 48" and DC. Can I repeat the analysis for just those?

You think about it and decide that there is a very low chance that you will move to Alaska, Hawaii, or Puerto Rico. You decide that you want to exclude those from your analysis. You want to know, of the remaining states, which have the highest and lowest food costs, and which have the highest and lowest overall costs.

**ANSWER -- LOWEST:** If we exclude AK, HI, and PR, our result for the lowest cost states does not change. That's because these 3 were among the highest, so they do not change the results for the lowest.

**ANSWER -- HIGHEST:** If we exclude AK, HI, and PR, then we find that California has the highest grocery costs, and Massachusetts has the highest overall cost of living.

**HOW DID I DETERMINE THAT?** I used our sorting trick, but first removed the rows for AK, HI, and PR from the dataset. This is called *__filtering__*.

##### Highest grocery costs in the "Lower 48" + DC

In [8]:
dfFilt = df[~(df['State'].isin(['Alaska', 'Hawaii', 'Puerto Rico']))]
DisplayDF(dfFilt.sort_values('Grocery', ascending=False).head())

##### Highest overall costs in the "Lower 48" + DC

In [9]:
dfFilt = df[~(df['State'].isin(['Alaska', 'Hawaii', 'Puerto Rico']))]
DisplayDF(dfFilt.sort_values('Index', ascending=False).head())

#### Summary

What have we learned?

* Think about the question. Then translate that into the data.
* You must understand your data.
* *Sorting* is an easy, efficient way to determine the highest or lowest value.
* We can sort one of two ways - highest value at the top, or lowest value at the top.
* Sometimes, we need to do something inefficiently (e.g., scrolling through 50 states) before realizing that there is a better way.
* Excluding data from an analysis is called *filtering*.

Finally, note that our reasoning process is *independent of software*. We can look at data on paper and determine that we need to filter or sort. We can then perform the analysis in the software of our choice. It would be easy to perform this analysis in Excel, but we could also use SQL, Python, etc.

### Example 2: Employee Spending Report

You work in the internal audit function of your company. You are tasked with analyzing employee credit card purchases. Your manager prints out a report showing all credit card purchases for three employees over the last year:

In [10]:
df = pd.read_excel('data/Employee credit card purchases.xlsx')
DisplayDF(df)

**QUESTION:** What was the total spending by employee?

**ANSWER:**

In [11]:
pvt = pd.pivot_table(df, index='Name', values='Amount', aggfunc='sum')
pvt.reset_index(inplace=True)
DisplayDF(pvt)

**HOW DID I DETERMINE THAT?** This was difficult.

1. I looked through the *Name* column and determined that there are 3 employees.
2. I wrote down each employee's name once.
3. For each employee, I went through the list of transactions and summed spending (in the *Amount* column) for just that employee.
4. I wrote down that employee's total spending next to his/her name.

**IS THERE A BETTER WAY?** There is. *What we did is a pivot table!!!* The pivot table identifies unique/distinct values in one column. For each one, it computes something using data from another column. In this case, we summed whatever is in the *Amount* column for each unique value in the *Name* column.

#### Summary

What have we learned?

* A *pivot table* is an easy, efficient way to compute something for each category in your data. In this example, the "categories" were employees.

Again, note that our reasoning process is *independent of software*. We can look at data on paper and determine what we need to do. We can then perform the analysis in the software of your choice. It would be easy to perform this analysis in Excel, but you could also use SQL, Python, etc.

### Example 3: Stock Returns

You get an internship at a hedge fund. Your manager gives you data on three stocks from the past three days. Note that DELL is the ticker symbol for Dell, TXN is for Texas Instruments, and XOM is for ExxonMobil.

In [12]:
df = pd.read_excel('data/Stock data.xlsx')
DisplayDF(df)

**QUESTION:** Your manager tells you to compute the daily stock returns. She then wants you to compute the average daily return for each of the three stocks. Finally, she wants to know which stock had the *lowest* average daily return. Your firm holds positions in these three stocks and she wants to sell the stock that had the lowest return over the past three days.

**COMPUTING STOCK RETURNS:** You remember from your finance classes that the daily return on a stock is given by the following formula:

$\text{Return} = \frac{\text{Today closing price} - \text{yesterday closing price}}{\text{yesterday closing price}} \times 100$

**ANSWER:**

In [13]:
df['Return'] = (df['Closing Price'] - df["Yesterday's Closing Price"]) / df["Yesterday's Closing Price"]
pvt = pd.pivot_table(df, index='Ticker', values='Return', aggfunc='mean')
pvt.sort_values('Return', inplace=True)
pvt.style.format({'Return': '{:.5f}%'})

From the table, we learn that Dell had the lowest average return over the last three days.

**HOW DID I DETERMINE THAT?**

First, for each row of the original data table, I first needed to compute the return for that stock and that day:

In [14]:
DisplayDF(df)

Second, I wrote down each ticker, just once.

Third, for each ticker, I average its three returns.

Finally, I wrote down that ticker's average return next to the ticker symbol.

**IS THERE A BETTER WAY?** There is. *This is a pivot table!!!* The pivot table identifies unique/distinct values in one column. For each one, it computes something in another column. In this case, I computed the average of whatever is in the *Return* column for each unique value in the *Ticker* column.

## Overall Summary and Takeaways

What have we learned?

Begin with the question that was asked. Then, understand your data. You must devise a plan for what to do with your data to answer the question. This plan is a sequence of steps. Write down this sequence of steps! If you write this down *before* you work with your data, you will be less likely to make mistakes.

Once you have written down your sequence of steps, then get to work with your data. Try to implement the sequence of steps. If you are working with SQL, you will translate your sequence of steps into code. If you are working in Excel, you will implement your sequence of steps one at a time.

When you have finished your analysis, look at the results. Do they make sense? Do they pass the "sniff test"? If so, interpret your results and answer the original question. Often, at this point, additional questions will arise.

Finally, note that our reasoning process is *independent of software*.

## References

\[1\] Chamberlin, Donald D; Boyce, Raymond F (1974). "SEQUEL: A Structured English Query Language". *Proceedings of the 1974 ACM SIGFIDET Workshop on Data Description, Access and Control. Association for Computing Machinery*: 249-64. Archived from the original on 26 September 2007. Retrieved 9 June 2007.

\[2\] https://meric.mo.gov/data/cost-living-data-series